.section-unic {
  padding-top: 60px;
  padding-bottom: 60px;
}

.subtitle {
    margin-left: -30px;
    margin-top: -30px;
}

.subtitle__item {
    margin-left: 30px;
    margin-top: 30px;
}

.subtitle__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  height: 120px;
  background-color: var(--section-background);
  border-radius: 4px;
}

.subtitle__text {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  color: var(--title-text-color);
}

@media screen and (min-width: 768px) {
  .subtitle {
    display: flex;
    flex-wrap: wrap;
  }  
  .subtitle__item {
    flex-basis: calc((100% - 120px) / 2);
    margin-left: 30px;
    margin-top: 30px;

      &:not(:last-child) {
      justify-content: space-between;
      }
  }
  .subtitle__icon {
    width: 354px;
    }
}

@media screen and (min-width: 1200px) {
  .section-unic {
     padding-top: 94px;
     padding-bottom: 0;
    } 
  .subtitle{
    flex-wrap: unset;
  } 
  .subtitle__item {
     flex-basis: calc((100% - 120px) / 4);
  }
  .subtitle__icon {
     width: 270px;
    }
} 




