.filter {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40px;
}

.filter-list {
  &:not(:last-child) {
    margin-right: 8px;
  }  
  &:nth-child(-n + 3){
    margin-bottom: 15px;
  }
}

.portfolio-item-wrapper {
  position: relative;
  overflow: hidden;
}

.portfolio-item {
  position: relative;
  margin-top: 30px;
    &:hover,
    &:focus {
    box-shadow: 0px 1px 1px 
    rgba(0, 0, 0, 0.12), 0px 4px 4px 
    rgba(0, 0, 0, 0.06), 1px 4px 6px 
    rgba(0, 0, 0, 0.16);
    cursor: pointer;
}
}

.portfolio-frame {
  flex-grow: 1;
  padding: 20px 24px;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;;
}

.portfolio-name {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-text-color);
  transform: rotate(0.26deg);
}

.portfolio-desc {
  font-size: 16px;
  line-height: 1.88;
  color: var(--title-text-color);
  transform: rotate(0.26deg);
  margin-top: 4px;
}

.portfolio-item-link {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  text-decoration: none;
}

@media screen and (min-width: 768px) {
  .filter {
    margin-bottom: 30px;
    justify-content: center;
  }
  .filter-list {
    &:nth-child(-n + 3) {
    margin-bottom: 0px;
    }
  }
    .portfolio {
    display: flex;
    flex-wrap: wrap;
    // justify-content: space-between;
    margin-left: -30px;
    margin-top: -30px;
  }
    .portfolio-item {
    flex-basis: calc((100% - 60px) / 2);
    margin-left: 30px;
    margin-top: 30px;
}
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  color: var(--white-color);
  font-size: 18px;
  line-height: 1.56;
  padding: 63px 24px;
  overflow: auto;
  transform: translateY(100%);
  transition: transform 250ms var(--transition-timing-function);

  .portfolio-item-link:hover &,
  .portfolio-item-link:focus & {
  transform: translateY(0%);
}
}

@media screen and (min-width: 1200px) {
  .filter {
    margin-bottom: 50px;
  }
  .portfolio-item {
    flex-basis: calc((100% - 90px) / 3)
  }
}
