.logo {
  font-family: 'Raleway', sans-serif;
  font-size: 24px;
  line-height: 1.17;
  color: var(--accent-color);
  text-decoration: none;
}

.logo_theme_light {
  color: var(--primary-text-color);
}

.logo_theme_dark {
  color: var(--white-color);
}

.footer {

   .logo {
   margin-right: 0px;
}
} 

@media screen and (min-width: 768px) {
  .header__logo {
    margin-right: 88px;
  }
}

@media screen and (min-width: 1200px) {
  .header__logo {
    margin-right: 94px;
  }
  .logo {
    font-size: 26px;
    line-height: 1.19;
  }
}

